blinker
click
et_xmlfile
Flask
flask-cors
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
openpyxl
pandas
python-dateutil
pytz
six
SQLAlchemy
typing_extensions
tzdata
Werkzeug
gunicorn
